:root {
  --io: #ccad31;
  --accent: #990049;
  --accent-fg: #e9d8f7;
  --accent-sh: #000000a0;
  --bg1: #293033;
  --bg2: #274f4b;
  --fg1: #dfdfdf;
  --fg2: #e9daf5;
  --fg-inverse: #040404;
  --sh: #18151a;
  --stroke: #282524;
  --shade-hard: #232224f2;
  --shade: #23222440;
  --border: #00000080;
}
html {
  width: 100vw;
  min-height: 100vh;
  place-content: center;
}
html::before {
  content:"";
  position:fixed; inset:0; z-index:-1; pointer-events:none;

  background:
    radial-gradient(
      ellipse 100% 100% at 50% bottom,
      var(--bg2) 0%,
      var(--bg1) 80%, var(--bg1) 100%
    ),
    var(--bg1);

  /* keep it out of main paint work */
  will-change: transform;
  transform: translateZ(0);
  contain: paint;
  image-rendering:auto;
  backface-visibility:hidden;
}
body {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 1rem;
  margin: auto;
  color: var(--fg2);
}
code {
  white-space: pre;
  font-weight: bolder;
  font-size: 1.5em;
  font-family: "Courier New", Courier, monospace;
  color: var(--fg2);
  mix-blend-mode: overlay;
  text-shadow: 0 .15rem 0 var(--sh);
}
body::before {
  content: "";
  position: fixed;
  inset: 1rem;
  background-color: var(--shade);
  box-shadow: 0 0 .5rem var(--border);
  z-index: -1;
  pointer-events: none;
}

iframe[id] {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -100vw;
  top: -100vh;
  pointer-events: none;
  opacity: 0;
  user-select: none;
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}
